/* ---Footer Body--- */
footer {
    background-color: #9A6F46;
    padding: 20px 0;
    border-top: 5px solid black;
    margin: 0;
}

footer .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* -------ROWS-------- */
footer .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap: nowrap; */
}


footer .row:first-child {
    margin-bottom: 20px;
}

/* ------COLUMNS------- */
footer .col-sm {
    flex: 1;
    /* min-width: 25%; */
    /* flex-basis: 25%; */
    /* height: auto; */
    /* align-self: flex-start; */
    /* height: 200px; */
}

/* Texts */
footer h2 {
    margin-bottom: 10px;
    font-size: 1.3rem;
    text-align: left;
    background-color: unset;
    /* justine html conflict */
    padding: 0;
}

footer li {
    margin-bottom: 10px;
}

footer a:hover {
    color: #ccc;
}

/* -----Contact Us Section----- */
footer form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

footer label {
    margin-bottom: 8px;
    font-size: 0.8rem;
    text-align: left;
}

footer input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    border: 2px solid black;
    width: 100%;
}

footer button[type="submit"] {
    background-color: #FDFBD6;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px black solid;
    width: 50%;
}

footer button[type="submit"]:hover {
    background-color: #DFBF98;
}

footer .input-contain {
    display: flex;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 5px;
}

/* Social Media Icons */
.social-media {
    margin-left: 5px;
    padding: 0;
    /* display: flex; */
}

.social-media li {
    display: inline-block;
    margin-right: 20px;
}

.social-media li a i {
    font-size: 20px;
}

/* ------Second Row------ */
footer .row:last-child {
    justify-content: space-between;

}

footer .row:last-child .col-sm:last-child {
    text-align: right;
}


footer .legal li {
    display: inline-block;
    margin-left: 10px;
}

footer .legal a {
    color: #ccc;
}

footer .legal a:hover {
    color: #fff;
}

/* ------Responsive Screen----- */

/* Tablet */
@media (max-width: 1500px) {

    .container {
        width: 90%;
    }

}

/* Mobile */
@media (max-width: 700px) {

    .container {
        width: 80%;
    }

    .row:first-child .col-sm {
        text-align: center;
        margin-bottom: 30px;
    }

    footer li {
        font-size: 0.9rem;
    }

    footer h2 {
        text-align: center;
        font-size: 1.2rem;
    }

    footer label {
        text-align: center;
        width: 85%;
        margin: 0 auto 10px;
        font-size: 0.9rem;
    }

    .input-contain {
        display: flex;
        flex-flow: column wrap;
    }

    footer button[type="submit"] {
        width: 100%;
        margin-top: 5px;
    }

    .row:last-child {
        font-size: 0.8rem;
    }

    .footer-brand {
        font-size: 0.9rem;
    }

}