:root {
  --secondary-text-color: blue;
  --pink: #DEA69F;
  --beige: #F6F4DD;
  --Brown-orange: #C9883B;
  --Brown: #7E390B;
}


html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  /* text-align: center; */
  scroll-snap-stop: always;
}

/* ------------------------------ */
/* main {
  margin: 0 auto;
} */

.background {
  position: absolute;
  z-index: -6;
  height: 120vh;
  width: auto;
  background-size: cover;
  top: 0;
  left: 0;
}

header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

header a img {
  height: 100px;
  width: 300px;
  border: 1px solid black
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 50px;
}


/* Navigate: 3 Cat categories */

aside {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  column-gap: 25px;
  align-content: center;
}

.line {
  height: 10px;
  width: 80%;
  background-color: white;
  border: 2px solid black;
  border-radius: 1rem;
}

aside a {
  border: 3px solid black;
  text-align: start;
  padding: 5px 10px;
  border-radius: 20px;
  text-shadow: 1px 2px 4px rgb(0, 0, 0);
  font-size: x-large;
  transition: transform 2s, filter 0.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(50%);
}

aside a:hover {
  filter: brightness(100%);
  transform: scale(1.1);
}

.Cute {
  background-image: url(/images/FelisCatus.jpg);
  background-position: start;
  background-size: cover;
  filter: brightness(80%)
}

.Fast {
  background-image: url(/images/Acinonyx.jpg);
  background-position: center;
  background-size: cover;
  filter: brightness(80%);
  /* border: none; */
}

.Scary {
  background-image: url(/images/Panthera.jpg);
  background-position: center;
  background-size: cover;
  filter: brightness(80%)
}

.Cute,
.Scary,
.Fast {
  filter: brightness(40%)
}

.Cute:hover,
.Fast:hover,
.Scary:hover {
  display: block;
  height: 200px;
  filter: brightness(80%);
  border: black 4px solid;
  color: white;
  filter: brightness(100%);
}

.active-card {
  filter: brightness(100%) !important;
  border: black 4px solid !important;
}



/* Search Bar */
.Searchbar {
  padding: 5px 5px 5px 5px;
  border-radius: 50px;
  background-color: var(--pink);
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
}

.fa-magnifying-glass {
  background-color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  font-size: 1.5rem;
  text-align: center;
}

.Searchbar input {
  font-size: 1.3em;
  padding: 10px 10px 10px 20px;
  border-radius: 30px;
  border: 2px solid black;
}

.Searchbar {
  height: auto;
  width: 435px;
  /* border-radius: 50%; */
  background-color: #FDCF78;
  border: 2px solid black;
  cursor: pointer;
}



/* Section: Cat types */

section {
  display: grid;
  grid-template-columns: repeat(5, 550px);
  gap: 30px 20px;
  margin-bottom: 50px;
  /* width: 65%;
  height: 55%; */
}

section a {
  padding: 20px;
  border-radius: 20px;
  background-color: #EEC995;
  color: var(--text-color);
  text-decoration: none;
  transition: transform 1s ease;
  border: 2px solid black;
}

/* EEC995 FDCF78 */

section a:hover {
  background-color: #FDCF78;
  border: 3px solid black;
  scale: 1.1;
  transform: skew(-0.02turn, 7deg);
  z-index: 1;
}

section a img {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid black;
}

section a:hover img {
  scale: 1.1;
}

section a h3 {
  font-size: 1.2em;
  text-align: center;
  text-wrap: wrap;
  padding: 3px 0px;
  margin: 10px 0px 5px 0px;
  border-radius: 50px;
  background-color: var(--background-color);
}

section a p {
  text-align: center;
  margin: 0px;
  padding: 0px;
}







/* Phones */
@media screen and (min-width: 390px) {
  aside {
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(3, 130px);
    row-gap: 5px;
  }

  section {
    grid-template-columns: repeat(1, 300px);
  }
}

/* Phones and Tablets */
@media screen and (min-width: 640px) {
  aside {
    grid-template-columns: repeat(2, 290px);
    grid-template-rows: repeat(2, 130px);
  }

  section {
    grid-template-columns: repeat(2, 280px);
  }
}

/* Tablets and Square Monitors */
@media screen and (min-width: 1024px) {
  aside {
    grid-template-columns: repeat(3, 290px);
    grid-template-rows: 130px 0px;
  }

  section {
    grid-template-columns: repeat(3, 280px);
  }
}

/* Laptops and Phone Landscapes */
@media screen and (min-width: 1280px) {
  aside {
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(1, 200px);
  }

  section {
    grid-template-columns: repeat(4, 300px);
  }
}

/* Common Big Screens */
@media screen and (min-width: 1560px) {
  section {
    grid-template-columns: repeat(5, 1fr);
  }
}