section {
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url('Resources/img/bg-section.jpg') lightgray 50% / cover no-repeat;
    padding: 50px 0;
}

section h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.line {
    width: 80%;
    margin: 0 auto;
    border: solid 2px black;
    height: 10px;
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 30px;
}

section .wrapper {
    width: 80%;
    margin: 0 auto;
    /* height: 20px; */
    /* background-color: red; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.card {
    /* height: 50px; */
    background-color: #EED2B1;
    border-radius: 1rem;
    margin-bottom: 50px;
    border: 4px solid black;
    padding: 50px 50px;
}

section h3 {
    margin: 20px 0;
    font-size: 1.5rem;
    text-align: center;
}

section p {
    margin-bottom: 30px;
    font-size: 1.3rem;
    text-align: justify;
    text-align-last: center;
}

/* 
section p:nth-of-type(1) {
    text-align: center;
} */

section .divider {
    width: 100%;
}

.text {
    width: 90%;
    padding-right: 3%;
}

.image {
    border-radius: 1rem;
    width: 40%;
    height: 250px;
    border: 4px solid black;
    margin: 0 auto;
}


.img1 {
    background: center / cover no-repeat url("images/image1.jpg");
}

.img2 {
    background: center / cover no-repeat url("images/image2.jpg");
}

.img3 {
    background: center / cover no-repeat url("images/image3.png");
}

.img4 {
    background: center / cover no-repeat url("images/image4.jfif");
}

.img5 {
    background: center / cover no-repeat url("images/image5.jpg");
}

.img6 {
    background: center / cover no-repeat url("images/image6.jfif");
}

.img7 {
    background: center / cover no-repeat url("images/image7.webp");
}

.img8 {
    background: center / cover no-repeat url("images/image8.gif");
}

.img9 {
    background: center / cover no-repeat url("images/image9.gif");
}

.img10 {
    background: center / cover no-repeat url("images/image10.gif");
}

.img11 {
    background: center / cover no-repeat url("images/image11.gif");
}

.img12 {
    background: center / cover no-repeat url("images/image12.gif");
}

@media (max-width:767px) {
    section .wrapper {
        width: 100%;
    }

    .card {
        width: 100%;
        border-radius: 0rem;
        border-left: none;
        border-right: none;
    }

    .card {
        padding: 0;
    }

    .image {
        width: 100%;
        height: 200px;
        border-radius: 0;
        margin-top: 30px;
        border-left: none;
        border-right: none;
    }

    section h1 {
        font-size: 1.8rem;
    }

    section h3 {
        font-size: 1.3rem;
    }

    section p {
        padding: 0 30px;
        font-size: 1rem;
    }
}