@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
  --textcolor: #fff;
  --primarybgcolor: #FDFBD5;
  --secondarybgcolor: #fff;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #FDFBD5;
  min-height: 100vh;
  overflow-x: hidden;
}

.btn {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #D28E3D;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  z-index: 1;
}

.btn.click {
  transform: translateY(100px);
  animation: 0.4s ease-in-out;
  z-index: 1;
}

.btn span {
  color: white;
  font-size: 28px;
  line-height: 45px;

}

.btn.click span:before {
  content: '\f00d';
}

nav {
  position: absolute;
  width: 2000px;
  height: 10%;
  top: -300px;
  background: #1b1b1b;
  transition: top 0.4s ease-in-out;
  z-index: 1;
  display: flex;
  align-items: center;
}

.sidebar.show {
  top: 0px;
}


.sidebar div {
  color: white;
  font-size: 30px;
  font-weight: 600;
  background: #1b1b1b;
  letter-spacing: 1px;
  text-wrap: nowrap;
  padding: 5px;
  margin: 0px 40px;
}

nav ul {
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 40px;
}

nav ul li:hover {
  border-top: 3px solid rgba(255, 255, 255, 0.1);
}


nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  border-left: 3px solid transparent;
}

nav ul li.active a {
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}

nav ul li a:hover {
  background: #1e1e1e;
}

nav ul .feat-show.show {
  display: block;
}

nav ul .serv-show.show1 {
  display: block;
}

nav ul .feed-show.show2 {
  display: block;
}

nav ul ul li {
  line-height: 42px;
  border-top: none;
}

nav ul ul li a {
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}

nav ul li.active ul li a {
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}

nav ul ul li a:hover {
  color: cyan !important;
  background: #1e1e1e !important;
}

nav ul li a span {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(50%);
  font-size: 22px;
  transition: transform 0.4s ease;
}

nav ul li a span.rotate {
  transform: translateY(50%) rotate(-180deg);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #202020;
  z-index: -1;
  text-align: center;
}

.content .header {
  font-size: 45px;
  font-weight: 600;
}

.content p {
  font-size: 30px;
  font-weight: 500;
}

.header {
  min-height: 0vh;
  width: 100%;
  /* background-image: linear-gradient(rgb(119, 16, 204),rgb(125, 1, 197)); */
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(232, 173, 165), rgba(232, 173, 165));
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
}

.logo img {
  height: 65px;
  width: 120px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 5px;

}

/* .bar2{
  width: 100%;
  background-image: linear-gradient(rgba(105,105,105),rgba(105,105,105));
  padding: 37px 25px;
} */

/*---------------HOME SLIDE SHOW--------------------- */

.small-container {
  position: relative;
}

.small-container .row {
  width: auto;
  height: 92vh;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.small-container .slide {
  display: grid;
  grid-template-columns: repeat(4, 100%);
  height: 100%;
  width: 100%;
  animation: slider 40s ease-in-out 7s infinite alternate;
}

.small-container #slide-image-1 {
  background-image: url(./image/catmad.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.small-container #slide-image-2 {
  background-image: url(./image/catmeme.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.small-container #slide-image-3 {
  background-image: url(./image/catb.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.small-container #slide-image-4 {
  background-image: url(./image/huhcat.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.small-container .slide-button .button {
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  display: inline-block;
  margin: .3rem;
}

.small-container .slide-button {
  position: absolute;
  left: 45%;
  bottom: 0%;
}

.button:hover {
  box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.6);
}

@keyframes slider {
  0% {
    transform: translate(0%);
  }

  10% {
    transform: translate(-100%);
  }

  20% {
    transform: translate(-100%);
  }

  30% {
    transform: translate(-200%);
  }

  40% {
    transform: translate(-200%);
  }

  50% {
    transform: translate(-200%);
  }

  60% {
    transform: translate(-300%);
  }

  70% {
    transform: translate(-300%);
  }

  80% {
    transform: translate(-300%);
  }

  90% {
    transform: translate(0%);
  }

  100% {
    transform: translate(0%);
  }
}


/************* VISION **************/
/************* MISSION **************/

.vision {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50vh;
  width: auto;
  background-color: white;
}

.mission {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 50vh;
  width: auto;
  background-color: white;
}

.mx-5 {
  margin-left: 40px;
  margin-right: 40px;
}

.mx-5 h1 {
  margin-left: 170px;

}

.MnVtext {
  margin-top: 10px;
  text-wrap: wrap;
  width: 500px;
}

.MnVImage {
  height: 50vh;
  width: 100%;
}


/******** THREE CAT GROUPS ********/

.modules {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modulesHeader {
  font-size: 3em;
  margin-bottom: 30px;
  color: transparent;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: transparent;
}

.interactiveModules {
  height: 200px;
  width: 1200px;
  background-color: ghostwhite;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 15px;
  transition: transform 1s, filter 0.5s ease-in-out;
}

.interactiveModules:hover {
  transform: scale(1.1);
}

.modulesImages {
  height: 190px;
  width: 390px;
  margin: 10px;
  border-radius: 20px;
}


/************ FOOTER **************/

footer {
  height: 300px;
  width: auto;
  background-color: var(--secondarybgcolor);
  border-top: 1px solid black;

}












/***** MEDIA QUERIES *******/

@media screen and (min-width: 460px) {}

@media screen and (min-width: 680px) {}

@media screen and (min-width: 960px) {}

@media screen and (min-width: 1280px) {}